body {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Calibri', cursive;
    background-size: cover;
    background: #fff;
    color: #111;
}

header.title {
    text-align: center;
    font-size: 50px;
}

.wrapper,
.outputList {
    margin: auto;
    width: 100%;
    max-width: 550px;
}

.wrapper {
    display: flex;
    border-radius: 5px;
}

.outputList {
    padding: 0;
}

.wrapper .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c3cad6;
    border-radius: 5px;
    font-weight: bold;
    background: #eef1f5;
}

.outputList li {
    display: block;
    padding: 5px;
    border: solid 1px #c3cad6;
}

#output {
    padding: 0;
}

#output ul {
    list-style-type: none;
}


/*
.searchbtn .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}*/